name: Trading Bot

on:
  workflow_dispatch:   # allows manual run
  schedule:
    - cron: "45 3 * * 1-5"   # 9:15 AM IST (UTC time)

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run trading bot
        run: python bot.py
